#chat-screen {
  background-color: #a0b9c9;
  height: 500vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: #a0b9c9;
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  z-index: 1;
}

@keyframes fadeInUp {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(25px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(-25px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #889aa9;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 25px;
  animation: fadeInUp 1s linear;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  animation: fadeInRight 1s linear;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.message-row__author {
  opacity: 0.8;
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
}
.message-row__info {
  display: flex;
  align-items: flex-end;
}
.message-row__bubble {
  background-color: white;
  padding: 6px 12px;
  font-size: 18px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}
.message-row__time,
.message-row__author {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
  animation: fadeInLeft 1s linear;
}

.message-row--own .message-row__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  margin-right: 0px;
  margin-left: 5px;
}

/* .message-row--own .message-row__time {
  order: 0;
}
.message-row--own .message-row__bubble {
  order: 1;
} */

.message-row--own .message-row__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  animation: fadeInUp 1s linear;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
  font-size: 20px;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.7;
}

.reply input {
  height: 30px;
  width: 100%;
  padding-left: 20px;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column button {
  position: absolute;
  right: 3px;
  top: 0px;
}

.reply__column:last-child > i {
  top: 5px;
  right: 38px;
  font-size: 20px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  transform: translateX(-13%) translateY(-80px);
  height: 40px;
  width: 98vw;
}

.reply:focus-within {
  transform: translateY(80px);
}
