.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horzontal-space);
  margin: 10px 0px;
}
.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}
.screen-header__icons {
  display: flex;
}
.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

@keyframes rotateCogAnimation {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCogAnimation 3s ease-in-out infinite;
}
